
.imagen{
    width: 1350px;
    height: 300px;
}


.carousel slide{
    margin-top: 500px;
}

.slide img{
    height: 500px;
    width: 100px;

}


.fondo{
    background-color: rgb(133, 174, 228)
}









